.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: rgb(157,108,215);
background: linear-gradient(60deg, rgba(157,108,215,1) 0%, rgba(0,212,255,1) 100%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mainContainer{
  padding:2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title, .title>span{
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.title>span{
  color: #d500c5 !important;
}
.textNums{
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #d2d2d2;
}
.textChar{
  font-size: 1.5rem;
  font-weight: 700;
  color: #bebaba;
}

.counterText{
  display: flex;
  flex-direction: column;
  width: 25rem;
  align-items: center;
}

.counterText > input{
  height: 2rem;
  color: #fff;
  border-radius: 0.3rem;
  background: transparent;
  border: 1px solid #fff;
  margin-bottom: 1.5rem;
  width: 17rem;
  cursor: pointer;
}

.counterText > button{
  height: 2rem;
  color: #fff;
  border-radius: 0.3rem;
  background: transparent;
  border: 1px solid #fff;
  margin-bottom: 3rem;
  width: 9rem;
  cursor: pointer;
}

.allCardsDiv{
  display: flex;
  flex-direction: row;
  width: 60%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ----------CARD CSS----------- */
.cardDiv{
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  margin: 1rem 1rem 0rem 0rem;
  background: rgb(157,108,215);
  background: linear-gradient(30deg, rgba(157,108,215,1) 10%, rgba(0,212,255,1) 100%);
  box-shadow: 5px 5px 30px 5px rgba(0,0,0,0.25), 
  -5px -5px 30px 5px rgba(0,0,0,0.22);
}
